<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<div id="hero">
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Welcome to KLD College Administration Page</h2>

        <h3>Everything you need to manage in one site.</h3>
      </div>
    </div>
</div>
