body {
    padding-top: 70px;
}

table {
  margin-top: 10px;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blue;
  /*background-attachment: fixed;*/
  /*background-image: url("../assets/images/jmu2.jpeg");*/
}

/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}
